@model IEnumerable<Otobit.Models.Domain.Sellers>

@{
    ViewData["Title"] = "GetSeller";
}



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
         
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
         
            <td>
                    <a asp-action="OfferAccepted" asp-route-sellerId="@item.SellerId">Check Offers</a> |
              
            </td>
        </tr>
}
    </tbody>
</table>
