@using OtobitProjectTask.Models;

@model LoginModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post">
    <input placeholder="UserName" asp-for="UserName" />
    <input placeholder="Passoword" asp-for="Password" />
    <button>submit</button>
</form>